{% extends 'base.html' %}
{% block content %}

<section id="certifications" class="projects-section">
  <h2 class="section-title">My Certifications</h2>
  <p class="section-subtitle">Recognitions and courses I’ve completed from top platforms.</p>
  <div class="section-divider"></div>

  <ul class="cert-list">
    <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=37F4C594B1A078BD66625A459D67BDD68296EE3303178C54D9A99948A0F34603" target="_blank">Oracle Fusion Cloud Applications ERP</a></li>
    <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=500B633D2FD49BD9FACB4057096E0565E50856584F6AFBBE916A7BF6730EEBD0" target="_blank">Oracle Cloud Infrastructure 2025</a></li>
    <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=8576A1FBFF2C92EDAF4428649C63EF0716103DF77ECEAB846512A1542D085706" target="_blank">Oracle Data Platform 2025</a></li>
    <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=CCFBCAB08E9F98C3F74BB77D8CDF403FA92D1EE33239966114B92D7FDD0EB164" target="_blank">Oracle Cloud Infrastructure 2025 Certified AI Foundations Associate</a></li>
    <li><a href="https://www.kaggle.com/learn/certification/pavanivaishnavi/python" target="_blank">Python Basics – Kaggle</a></li>
    <li><a href="https://www.kaggle.com/learn/certification/pavanivaishnavi/intro-to-machine-learning" target="_blank">Machine Learning – Kaggle</a></li>
    <li><a href="static\The Joy Of Computing Using Python-Nptel_page-0001.jpg" target="_blank">Joy of Computing Using Python – NPTEL</a></li>
    <li><a href="https://www.credential.net/8d0749a4-4dc8-45ef-95a8-fa3208c40520#acc.QSAtRvlH" target="_blank">Store Listing – Google Play Academy</a></li>
  </ul>
</section>

{% endblock %}
