{% extends 'base.html' %}
{% block content %}

<section id="certifications" class="projects-section">
  <h2 class="section-title">My Certifications</h2>
  <p class="section-subtitle">Recognitions and courses I’ve completed from top platforms.</p>
  <div class="section-divider"></div>

  <ul class="cert-list">
    <li><a href="https://www.oracle.com" target="_blank">Oracle Fusion Cloud Applications ERP</a></li>
    <li><a href="https://www.oracle.com" target="_blank">Oracle Cloud Infrastructure 2025</a></li>
    <li><a href="https://www.oracle.com" target="_blank">Oracle Data Platform 2025</a></li>
    <li><a href="https://www.kaggle.com/learn/python" target="_blank">Python Basics – Kaggle</a></li>
    <li><a href="https://www.kaggle.com/learn/machine-learning" target="_blank">Machine Learning – Kaggle</a></li>
    <li><a href="https://onlinecourses.nptel.ac.in" target="_blank">Joy of Computing Using Python – NPTEL</a></li>
    <li><a href="https://playacademy.exceedlms.com/" target="_blank">Store Listing – Google Play Academy</a></li>
  </ul>
</section>

{% endblock %}
