{% extends 'base.html' %}
{% block content %}

<section id="contact" class="projects-section">
  <h2 class="section-title">Contact Me</h2>
  <p class="section-subtitle">Let’s connect — feel free to reach out through any of these channels.</p>
  <div class="section-divider"></div>

  <div class="contact-info">
    <div class="contact-card">
      <h3>Email</h3>
      <p><a href="mailto:pavanivaishnavi004@gmail.com">pavanivaishnavi004@gmail.com</a></p>
    </div>

    <div class="contact-card">
      <h3>Phone</h3>
      <p><a href="tel:+91 9014756327">+91 9014756327</a></p>
    </div>

    <div class="contact-card">
      <h3>LinkedIn</h3>
      <p><a href="https://www.linkedin.com/in/pavani-vaishnavi-gudimella-889b2a2a4/" target="_blank">Pavani Vaishnavi Gudimella</a></p>
    </div>

    <div class="contact-card">
      <h3>GitHub</h3>
      <p><a href="https://github.com/Pavani-Vaishnavi2912" target="_blank">Pavani-Vaishnavi2912</a></p>
    </div>
  </div>
</section>

{% endblock %}
