{% extends 'base.html' %}
{% block content %}

<!-- Hero Section -->
<section class="hero-section" id="home">
  <div class="hero-container">
    <div class="hero-text">

<h1>
  Hi, I'm <span id="typing" class="typewriter"></span>
</h1>

<div class="marquee-container">
  <div class="marquee-text">
    AI Enthusiast &nbsp; | &nbsp; Web Developer &nbsp; | &nbsp; Agentic AI Intern
  </div>
</div>

<p class="description">
  Final-year Artificial Intelligence undergraduate with hands-on experience in Agentic AI systems, intelligent automation, and AI-driven applications. Skilled in building scalable solutions across machine learning, NLP, and web development. Experienced in deploying real-world projects, including secure authentication systems and AI-powered chatbots.
</p>


      <div class="hero-buttons">
        <a href="/projects" class="btn">View Projects</a>

<a href="{{ url_for('static', filename='Pavani_Vaishnavi_Gudimella_Resume.pdf') }}" 
   class="btn-secondary" target="_blank">
   👀 View Resume
</a>
      </div>



<a href="/skills" class="scroll-down">Know More...</a>
    </div>

    <div class="hero-image">
      <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Pavani Vaishnavi">
    </div>
  </div>
</section>





{% endblock %}
