{% extends 'base.html' %}
{% block content %}

<!-- Hero Section -->
<section class="hero-section" id="home">
  <div class="hero-container">
    <div class="hero-text">

<h1>
  Hi, I'm <span id="typing" class="typewriter"></span>
</h1>


      <div class="marquee-container">
        <div class="marquee-text">
          AI Enthusiast &nbsp; | &nbsp; Web Developer &nbsp; | &nbsp; Python Developer
        </div>
      </div>

      <p class="description">
        Passionate about building smart solutions with Python and web technologies. Currently pursuing B.Tech in AI at Sri Vasavi Engineering College.
      </p>

      <div class="hero-buttons">
        <a href="/projects" class="btn">View Projects</a>

<a href="{{ url_for('static', filename='Pavani_Vaishnavi_Gudimella_Resume.pdf') }}" class="btn-secondary" download>Download Resume</a>
      </div>



<a href="/skills" class="scroll-down">Know More...</a>
    </div>

    <div class="hero-image">
      <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Pavani Vaishnavi">
    </div>
  </div>
</section>





{% endblock %}
