{% extends 'base.html' %}
{% block content %}

<section id="projects" class="projects-section">
  <h2 class="section-title">My Projects</h2>
  <p class="section-subtitle">A few highlights from what I’ve built recently.</p>
  <div class="section-divider"></div>

  <div class="projects-grid">

        <div class="project-card">
      <h3>TravelMate </h3>
      <p>A Flask-based travel planner that helps users manage itineraries, explore destinations, and plan smartly.</p>
      <a href="https://github.com/Pavani-Vaishnavi2912/TravelMate" target="_blank">View on GitHub</a>
    </div>

    <div class="project-card">
      <h3>Birds Species Detection </h3>
      <p>A deep learning model built using TensorFlow and OpenCV to detect bird species from images in real-time.</p>
      <a href="https://github.com/Pavani-Vaishnavi2912/Birds_Species_Detection" target="_blank">View on GitHub</a>
    </div>


    <div class="project-card">
  <h3>My Portfolio Website</h3>
  <p>Personal portfolio built with Flask, HTML/CSS, and custom animations.</p>
  <a href="https://github.com/Pavani-Vaishnavi2912/My-Portfolio" target="_blank">GitHub Repo</a>
</div>

<div class="project-card">
  <h3>Chatbot 🤖</h3>
  <p>A conversational chatbot built using Python (Flask) and NLP techniques.</p>
  <a href="https://github.com/Pavani-Vaishnavi2912/Chatbot" target="_blank">GitHub Repo</a>
</div>

<div class="project-card">
  <h3>Language Translation Tool 🌐</h3>
  <p>Tool that translates text between languages using external translation APIs.</p>
  <a href="https://github.com/Pavani-Vaishnavi2912/Language-Translation-Tool" target="_blank">GitHub Repo</a>
</div>




  </div>
</section>

{% endblock %}
