{% extends 'base.html' %}
{% block content %}

<section id="skills" class="skills-section">
  <h2 class="section-title">My Skills</h2>
  <p class="section-subtitle">Technologies I'm confident working with.</p>
  <div class="section-divider"></div>

  <div class="skills-group">
    <h3>🔧 Backend Development</h3>
    <div class="skills-grid">
      <div class="skill-card">
        <img src="/static/icons/python.png" alt="Python">
        <span>Python</span>
      </div>
      <div class="skill-card">
        <img src="/static/icons/django.png" alt="Django">
        <span>Django</span>
      </div>
      <div class="skill-card">
        <img src="/static/icons/flask.png" alt="Flask">
        <span>Flask</span>
      </div>
    </div>

    <h3>🗃️ Databases</h3>
    <div class="skills-grid">
      <div class="skill-card">
         <img src="/static/icons/sql.png" alt="SQL"> 
        <span>SQL</span>
      </div>
      <div class="skill-card">
        <img src="/static/icons/nosql.png" alt="NoSQL">
        <span>NoSQL</span>
      </div>
    </div>

    <h3>🧰 Tools & Frontend</h3>
    <div class="skills-grid">
      <div class="skill-card">
        <img src="/static/icons/vscode.png" alt="vscode">
        <span>Visual Studio Code</span>
      </div>
      <div class="skill-card">
        <img src="/static/icons/html.png" alt="HTML,CSS,JavaScript">
        <span>HTML,CSS,JavaScript</span>
      </div>
      <div class="skill-card">
        <img src="/static/icons/Bootstrap.png" alt="Bootstrap">
        <span>Bootstrap</span>
      </div>
      <div class="skill-card">
        <img src="/static/icons/github.png" alt="GitHub">
        <span>GitHub</span>
      </div>
    </div>
  </div>
</section>


{% endblock %}
