{% extends 'base.html' %}
{% block content %}

<section id="skills" class="skills-section">
  <h2 class="section-title">My Skills</h2>

<p class="section-subtitle">Technologies I work with to build smart, efficient, and scalable solutions</p>


  <div class="skills-grid">

    <div class="skill-card">
      <span>Python</span>
    </div>

    <div class="skill-card">
      <span>SQL</span>
    </div>

    <div class="skill-card">
      <span>Flask</span>
    </div>
    <div class="skill-card">
      <span>Git & GitHub</span>
    </div>

    <div class="skill-card">
      <span>HTML & CSS</span>
    </div>

  </div>
</section>

{% endblock %}
